[*.cs]

# S6562: Always set the "DateTimeKind" when creating new "DateTime" instances
dotnet_diagnostic.S6562.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none
